@import "../../../asset/colors";

.pb-button {
  height: 32px;
  padding: 0 15px;
  font-size: 14px;
  min-width: 64px;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
  border: none;

  &-large {
    height: 40px;
    padding: 0 15px;
    font-size: 16px;
  }

  &-small {
    height: 24px;
    padding: 0 7px;
    font-size: 14px;
  }

  &-contained {
    &-primary {
      background-color: $brand-primary;
      color: #FFF;
    }

    &-primary:hover:enabled {
      background-color: $brand-primary-hover-link;
      color: #FFF;
    }

    &-primary:disabled {
      background-color: $brand-primary-disabled;
      color: #FFF;
      cursor: default;
    }

    &-secondary {
      background-color: $brand-primary-light;
      color: $brand-primary;
    }

    &-secondary:hover:enabled {
      background-color: #bfe1ff;
      color: $brand-primary;
    }

    &-secondary:disabled {
      background-color: $common-disabled;
      color: #FFF;
      cursor: default;
    }

    &-danger {
      background-color: $function-error;
      color: #FFF;
    }

    &-danger:hover:enabled {
      background-color: #d94343;
    }

    &-danger:disabled {
      background-color: #ff8080;
      cursor: default;
    }
  }

  &-outlined {
    background-color: transparent;

    &:disabled {
      background-color: $common-bg-hover;
      border: 1px solid $common-border;
      color: $common-third;
      cursor: not-allowed;
    }

    &-primary {
      color: $brand-primary;
      border: 1px solid $brand-primary;
    }

    &-primary:hover:enabled {
      background-color: $brand-primary-light;
    }

    &-secondary {
      color: $brand-primary-light;
      border: 1px solid $brand-primary-light;
    }

    &-secondary:hover:enabled {
      background-color: rgba(217, 237, 255, 0.08);
    }

    &-danger {
      color: $function-error;
      border: 1px solid $function-error;
    }

    &-danger:hover:enabled {
      background-color: #DC004E08;
    }
  }

  &-text {
    background-color: transparent;

    &:disabled {
      color: rgba(0, 0, 0, 0.26);
      cursor: not-allowed;
    }

    &-primary {
      color: $brand-primary;
    }

    &-primary:hover:enabled {
      background-color: $brand-primary-light;
    }

    &-secondary {
      color: $brand-primary-light;
    }

    &-secondary:hover:enabled {
      background-color: rgba(217, 237, 255, 0.08);
    }

    &-danger {
      color: $function-error;
    }

    &-danger:hover:enabled {
      background-color: #DC004E08;
    }
  }
}
