@import "../../../asset/colors";
@import "./mixin";

.pb-button {
  @include btn();

  &-circle {
    @include button-circle-size($btn-circle-size);
  }

  &-large.pb-button-circle {
    @include button-circle-size($btn-circle-size-lg);
  }

  &-small.pb-button-circle {
    @include button-circle-size($btn-circle-size-sm);
  }

  &-round {
    border-radius: 32px;
  }

  &-full-width {
    width: 100%;
  }

  &-contained {
    &-primary {
      @include button-color($common-bg-primary, $brand-primary, $brand-primary);
      @include button-disabled($common-bg-primary, $brand-primary-disabled, $brand-primary-disabled);
    }

    &-primary:not([disabled]):hover {
      @include button-color($common-bg-primary, $brand-primary-hover-link, $brand-primary-hover-link);
    }

    &-secondary {
      @include button-color($brand-primary, $brand-primary-light, $brand-primary-light);
      @include button-disabled($common-bg-primary, $common-disabled, $common-disabled);
    }

    &-secondary:not([disabled]):hover {
      @include button-color($brand-primary, $btn-secondary-hover-color, $btn-secondary-hover-color);
    }

    &-danger {
      @include button-color($common-bg-primary, $function-error, $function-error);
      @include button-disabled($common-bg-primary, $btn-danger-bg-color, $btn-danger-bg-color);
    }

    &-danger:not([disabled]):hover {
      @include button-color($common-bg-primary, $btn-danger-bg-hover-color, $btn-danger-bg-hover-color);
    }
  }

  &-outlined {
    background-color: transparent;

    &-primary {
      @include button-color($brand-primary, transparent, $brand-primary);
    }

    &-primary:not([disabled]):hover {
      @include button-color($brand-primary, $brand-primary-light, $brand-primary);
    }

    &-secondary {
      @include button-color($brand-primary-light, transparent, $brand-primary-light);
    }

    &-secondary:not([disabled]):hover {
      @include button-color($brand-primary-light, rgba(217, 237, 255, 0.08), $brand-primary-light);
    }

    &-danger {
      @include button-color($function-error, transparent, $function-error);
    }

    &-danger:not([disabled]):hover {
      @include button-color($function-error, #DC004E08, $function-error);
    }

    @include button-disabled($common-third, $common-bg-hover, $common-border);
  }

  &-text {
    background-color: transparent;

    &-primary {
      color: $brand-primary;
    }

    &-primary:not([disabled]):hover {
      background-color: $brand-primary-light;
    }

    &-secondary {
      color: $brand-primary-light;
    }

    &-secondary:not([disabled]):hover {
      background-color: rgba(217, 237, 255, 0.08);
    }

    &-danger {
      color: $function-error;
    }

    &-danger:not([disabled]):hover {
      background-color: #DC004E08;
    }

    @include button-disabled(rgba(0, 0, 0, 0.26), transparent, transparent);
  }
}
