@import "../../../asset/colors";

.pb-typography {
  margin: 0;

  &-gutter-bottom {
    margin-bottom: 0.5em;
  }

  &-head {
    font-size: 24px;
    line-height: 32px;
  }

  &-title {
    font-size: 18px;
    line-height: 28px;
  }

  &-subtitle {
    font-size: 16px;
    line-height: 24px;
  }

  &-body {
    font-size: 14px;
    line-height: 22px;
  }

  &-caption {
    font-size: 12px;
    line-height: 20px;
  }

  &-textPrimary {
    color: #333;
  }

  &-textSecondary {
    color: #8ea0b8;
  }

  &-textThird {
    color: #999;
  }

  &-disabled {
    color: #ced2da;
  }

  &-link {
    color: $brand-primary;
  }

  &-success {
    color: $function-success;
  }

  &-warning {
    color: $function-warning;
  }

  &-error {
    color: $function-error;
  }

  &-align-left {
    text-align: left;
  }

  &-align-center {
    text-align: center;
  }

  &-align-right {
    text-align: right;
  }

  &-align-justify {
    text-align: justify;
  }

  &-display-inline {
    display: inline-block;
  }

  &-display-block {
    display: block;
  }
}


