.dialog-mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);

  .dialog {
    margin: 0 auto;
    min-width: 400px;
    max-width: 900px;
    margin-top: 200px;
    background: #fff;
    border-radius: 2px;
    padding: 20px;

    .dialog-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 18px;
      margin-bottom: 10px;

      .close-icon {
        cursor: pointer;
      }
    }

    .dialog-content {
      margin-bottom: 10px;
    }

    .dialog-footer {
      display: flex;
      justify-content: flex-end;

      .modal-btn {
        &:first-child {
          margin-right: 10px;;
        }
      }
    }
  }
}