@import '../../../asset';
.pb-dropdown-trigger {
  cursor: pointer;
}

.pb-trigger-popup {
  padding: 16px;
  border-radius: $GLOBAL_BORDER_RADIUS;
  background-color: $common-bg-primary;
  box-shadow: 0 2px 8px 0 rgba(153, 153, 153, 0.2);
}