@import '../../../asset';

.pb-tooltip-popup {
  color: #fff;
  padding: 4px 8px;
  font-size: 0.625rem;
  max-width: 300px;
  word-wrap: break-word;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.4em;
  border-radius: $GLOBAL_BORDER_RADIUS;
  background-color: rgba(97, 97, 97, 0.9);
}
